  
    <!-- headers -->
    <section id="header">
      <div class="header  sec">
        <div class="logo">
            <h2><a href="">Bookshelf</a></h2>
        </div>
        <div class="nav">
            <ul class="navlist">
                <li class="navitem"><a href="/home">Home</a></li>
                <li class="navitem"><a href="/mybooks">My Books</a></li>
                <li class="navitem"><a href="/allbooks">All Books</a></li>
            </ul>
        </div>
      </div>
    </section>
    <!-- end headers -->
